body {
    background-color: #D0D6D7; /* Replace #606060 with your desired color */
}


#quarto-sidebar {
  background-color: #95A0A1; /* Choose your desired background color */
}

/* Change "Table of Contents" to "On This Page" */
.toc-title::before {
  content: "On This Page";
}

.toc-title {
  visibility: hidden;
}

.toc-title::before {
  visibility: visible;
  display: block;
}